PORT=3002
NODE_ENV=production
LOG_LEVEL=info
SERVICE_NAME=Room
DOCS_URI=http://docs-template.com
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=global
RABBITMQ_HEARTBEAT=15
